.u-section-1 {
  background-image: linear-gradient(#0156a5, #adcce9);
}

.u-section-1 .u-sheet-1 {
  min-height: 743px;
}

.u-section-1 .u-gallery-1 {
  height: 678px;
  width: 1140px;
  margin: 32px -18px 31px auto;
}

.u-section-1 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
}

.u-section-1 .u-carousel-item-1 {
  margin-right: 0;
  height: 678px;
  margin-left: 0;
}

.u-section-1 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(102,102,102,0.35), rgba(102,102,102,0.35));
  padding: 20px;
}

.u-section-1 .u-carousel-item-2 {
  margin-right: 0;
}

.u-section-1 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(102,102,102,0.35), rgba(102,102,102,0.35));
  padding: 20px;
}

.u-section-1 .u-carousel-item-3 {
  height: 678px;
  margin-left: 0;
  margin-right: 0;
}

.u-section-1 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(102,102,102,0.35), rgba(102,102,102,0.35));
  padding: 20px;
}

.u-section-1 .u-carousel-item-4 {
  height: 678px;
  margin-left: 0;
  margin-right: 0;
}

.u-section-1 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(102,102,102,0.35), rgba(102,102,102,0.35));
  padding: 20px;
}

.u-section-1 .u-carousel-control-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-1 .u-carousel-control-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 613px;
  }

  .u-section-1 .u-gallery-1 {
    width: 940px;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 470px;
  }

  .u-section-1 .u-gallery-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 353px;
  }

  .u-section-1 .u-gallery-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 222px;
  }

  .u-section-1 .u-gallery-1 {
    width: 340px;
  }
}.u-section-2 {
  background-image: linear-gradient(#adcce9, #2cccc4);
}

.u-section-2 .u-sheet-1 {
  min-height: 835px;
}

.u-section-2 .u-text-1 {
  font-size: 3.75rem;
  font-weight: 700;
  margin: 36px 0 0;
}

.u-section-2 .u-video-1 {
  height: 459px;
  width: 525px;
  margin: 128px 15px 0 auto;
}

.u-section-2 .embed-responsive-1 {
  position: absolute;
}

.u-section-2 .u-video-2 {
  height: 459px;
  width: 525px;
  margin: -459px auto 60px 15px;
}

.u-section-2 .embed-responsive-2 {
  position: absolute;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1549px;
  }

  .u-section-2 .u-video-1 {
    width: 820px;
    margin-top: 709px;
    margin-right: auto;
  }

  .u-section-2 .u-video-2 {
    width: 820px;
    margin-top: -1040px;
    margin-left: auto;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1263px;
  }

  .u-section-2 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-2 .u-video-1 {
    height: 403px;
    margin-top: 620px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-video-2 {
    height: 403px;
    margin-top: -924px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1138px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-top: 56px;
  }

  .u-section-2 .u-video-1 {
    height: 302px;
    margin-top: 529px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-video-2 {
    height: 302px;
    margin-top: -697px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 840px;
  }

  .u-section-2 .u-text-1 {
    font-size: 2.25rem;
    margin-top: 75px;
  }

  .u-section-2 .u-video-1 {
    height: 190px;
    margin-top: 281px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-video-2 {
    height: 190px;
    margin-top: -455px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
}