.u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.75), rgba(0,0,0,0.75)), url("https://pixabay.com/get/g472cad27f3d78ab2bb449493f3da1b3a1b22d869ec804892c00738625af7633b41889477db7d426c825f0110bde99ed70488d3bb565d8f1e78c5e36b86ffcf9a_1280.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 991px;
}

.u-section-1 .u-text-1 {
  font-size: 6rem;
  line-height: 1;
  background-image: none;
  font-family: "Alex Brush";
  font-weight: 700;
  margin: 93px -31px 0 115px;
}

.u-section-1 .u-video-1 {
  width: 973px;
  height: 577px;
  margin: 18px auto 60px;
}

.u-section-1 .embed-responsive-1 {
  position: absolute;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 817px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 68px;
    margin-right: -26px;
    margin-left: 26px;
  }

  .u-section-1 .u-video-1 {
    width: 940px;
    margin-top: 46px;
    margin-right: -26px;
    margin-bottom: 30px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 747px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
    margin-top: 82px;
    margin-right: -50px;
    margin-left: 50px;
  }

  .u-section-1 .u-video-1 {
    width: 612px;
    height: 491px;
    margin-right: auto;
    margin-bottom: 60px;
    margin-left: 38px;
  }
}

@media (max-width: 767px) {
  .u-section-1 {
    background-position: 44.85% 50%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 863px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
    margin-top: 140px;
    margin-right: -18px;
    margin-left: 18px;
  }

  .u-section-1 .u-video-1 {
    width: 540px;
    height: 577px;
    margin-top: 39px;
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 {
    background-position: 41.1% 50%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 583px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 9px;
    margin-right: -50px;
    margin-left: 50px;
  }

  .u-section-1 .u-video-1 {
    height: 478px;
    width: 282px;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 17px;
  }
}.u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 611px;
}

.u-section-2 .u-layout-wrap-1 {
  margin: 60px auto 60px 0;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 531px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 0;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  line-height: 43px;
  font-size: 3.75rem;
  margin: 65px 34px 0 90px;
}

.u-section-2 .u-text-2 {
  font-size: 1rem;
  margin: 65px 34px 0 30px;
}

.u-section-2 .u-btn-1 {
  border-style: none none solid;
  margin-top: 51px;
  padding: 0;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 491px;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-shape-1 {
  width: 398px;
  height: 398px;
  background-image: none;
  margin: -30px -16px 0 auto;
}

.u-section-2 .u-image-1 {
  width: 378px;
  height: 378px;
  background-image: url("images/474c0febee06dddbd4c20644786c093a61af60f2b65f8edcbe01bccac544d1a1fab632f158c73965b17fcb81a4c02124f8ad69b7676e8f207d8399_1280.jpg");
  background-position: 50% 50%;
  margin: -342px auto 0 40px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 525px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 438px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 24px;
    margin-right: 0;
  }

  .u-section-2 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 542px;
  }

  .u-section-2 .u-image-1 {
    margin-top: -330px;
    margin-left: -7px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 657px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 537px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 0;
    margin-left: 0;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 537px;
  }

  .u-section-2 .u-shape-1 {
    width: 300px;
    height: 300px;
    margin-right: -30px;
  }

  .u-section-2 .u-image-1 {
    width: 324px;
    height: 324px;
    margin-top: -231px;
    margin-left: -30px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 685px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 666px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-shape-1 {
    width: 424px;
    height: 424px;
    margin-top: 39px;
    margin-right: 17px;
  }

  .u-section-2 .u-image-1 {
    width: 443px;
    height: 443px;
    margin-top: -301px;
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 948px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: 50px;
    margin-bottom: 50px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 341px;
  }

  .u-section-2 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 461px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-2 .u-shape-1 {
    width: 299px;
    height: 299px;
    margin-top: 0;
    margin-right: 0;
    margin-left: 41px;
  }

  .u-section-2 .u-image-1 {
    width: 299px;
    height: 299px;
    margin-top: -244px;
    margin-left: 10px;
  }
}.u-section-3 {
  background-image: url("images/6b65c4d92f0e16efa6d006f11d7c85ddc4ab416a60091e22cad9f2ab29c286afcba67b494b3dd9d27e6e7e465ac5721300990af0eb51391c3c745f_1280.jpg");
  background-position: 50% 50%;
}

.u-section-3 .u-sheet-1 {
  min-height: 962px;
}

.u-section-3 .u-text-1 {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 3.75rem;
  margin: 104px auto 0;
}

.u-section-3 .u-image-1 {
  width: 382px;
  height: 377px;
  object-position: 50% 0%;
  margin: 156px auto 0 66px;
}

.u-section-3 .u-list-1 {
  width: 582px;
  margin: -451px 0 60px auto;
}

.u-section-3 .u-repeater-1 {
  grid-template-columns: calc(50% - 11px) calc(50% - 11px);
  grid-gap: 22px 22px;
  min-height: 506px;
}

.u-section-3 .u-list-item-1 {
  background-image: none;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3 .u-text-2 {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 400;
}

.u-section-3 .u-text-3 {
  margin-left: 0;
}

.u-section-3 .u-list-item-2 {
  background-size: auto;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px;
}

.u-section-3 .u-text-4 {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 400;
}

.u-section-3 .u-text-5 {
  margin-left: 0;
}

.u-section-3 .u-list-item-3 {
  background-size: auto;
}

.u-section-3 .u-container-layout-3 {
  padding: 30px;
}

.u-section-3 .u-text-6 {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 400;
}

.u-section-3 .u-text-7 {
  margin-left: 0;
}

.u-section-3 .u-btn-1 {
  border-style: none none solid;
  padding: 0;
}

.u-section-3 .u-list-item-4 {
  background-size: auto;
}

.u-section-3 .u-container-layout-4 {
  padding: 30px;
}

.u-section-3 .u-text-8 {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 400;
}

.u-section-3 .u-text-9 {
  margin-left: 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1001px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 89px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-image-1 {
    width: 315px;
    height: 306px;
    object-position: 48.64% 50%;
    margin-top: 220px;
    margin-left: 89px;
  }

  .u-section-3 .u-list-1 {
    height: auto;
    width: 470px;
    margin-top: -445px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1213px;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    margin-top: 68px;
  }

  .u-section-3 .u-image-1 {
    height: 314px;
    width: 314px;
    margin-top: 90px;
    margin-right: 185px;
    margin-left: auto;
  }

  .u-section-3 .u-list-1 {
    width: 720px;
    margin-top: 64px;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1296px;
  }

  .u-section-3 .u-text-1 {
    font-size: 4.5rem;
  }

  .u-section-3 .u-image-1 {
    margin-top: 96px;
    margin-right: 97px;
  }

  .u-section-3 .u-list-1 {
    width: 540px;
    margin-top: 58px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1703px;
  }

  .u-section-3 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-3 .u-image-1 {
    margin-right: 26px;
  }

  .u-section-3 .u-list-1 {
    width: 340px;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: 100%;
  }
}.u-section-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.25), rgba(0,0,0,0.25)), url("images/xz.jpg");
  background-position: 50% 50%;
}

.u-section-4 .u-sheet-1 {
  min-height: 435px;
}

.u-section-4 .u-text-1 {
  font-size: 4.5rem;
  text-shadow: 2px 2px 8px rgba(66,84,101,0.4);
  letter-spacing: 4px;
  font-family: Montserrat, sans-serif;
  text-transform: uppercase;
  font-weight: 600;
  margin: 172px 153px 0 126px;
}

.u-section-4 .u-btn-1 {
  border-style: solid;
  text-transform: uppercase;
  font-size: 1.25rem;
  background-image: none;
  margin: 38px 460px 0 auto;
  padding: 17px 17px 18px;
}

.u-section-4 .u-icon-1 {
  width: 64px;
  height: 64px;
  margin: -64px auto 0 406px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 359px;
  }

  .u-section-4 .u-text-1 {
    width: auto;
    margin-top: 84px;
    margin-left: 40px;
    margin-right: 40px;
  }

  .u-section-4 .u-btn-1 {
    margin-top: 36px;
    margin-right: 308px;
  }

  .u-section-4 .u-icon-1 {
    margin-top: -67px;
    margin-bottom: 60px;
    margin-left: 332px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 326px;
  }

  .u-section-4 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-btn-1 {
    margin-top: 24px;
    margin-right: 198px;
  }

  .u-section-4 .u-icon-1 {
    margin-top: -71px;
    margin-left: 237px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 370px;
  }

  .u-section-4 .u-text-1 {
    font-size: 3.4375rem;
    margin-top: 80px;
  }

  .u-section-4 .u-btn-1 {
    margin-top: 44px;
    margin-right: 119px;
  }

  .u-section-4 .u-icon-1 {
    margin-top: -67px;
    margin-left: 142px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 233px;
  }

  .u-section-4 .u-text-1 {
    font-size: 2.125rem;
  }

  .u-section-4 .u-btn-1 {
    margin-top: 15px;
    margin-right: 30px;
  }

  .u-section-4 .u-icon-1 {
    margin-bottom: 34px;
    margin-left: 34px;
  }
}